.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px dotted blue;
  padding: 5px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px blue;
  transition: scale 500ms;
}

.listItem:hover {
  scale: 1.05;
}

.listItem button {
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 30px;
  background-color: red;
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  justify-content: center;
}

.buttonDelete {
  cursor: pointer;
}

.text {
  font-size: 20px;
  display: flex;
  align-items: center;
}
