.filterLabel {
  display: block;
  font-size: 15px;
}

.filterInput {
  margin-top: 10px;
  display: block;
  border: 3px solid black;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
}

.filterInput:hover,
.filterInput:focus {
  border: 3px solid blue;
  outline: none;
}
